[
  {"name": "HDFC Mid Cap Fund - Growth Option - Direct Plan",        "units": 500.58,  "buy_date": "2024-01-01", "invested": 85000},
  {"name": "quant Small Cap Fund - Growth Option - Direct Plan",      "units": 288.67,  "buy_date": "2024-01-01", "invested": 60000},
  {"name": "quant Flexi Cap Fund - Growth Option-Direct Plan",        "units": 588.46,  "buy_date": "2024-01-01", "invested": 55000},
  {"name": "quant Large Cap Fund - Growth Option - Direct Plan",      "units": 2519.19, "buy_date": "2024-01-01", "invested": 40000},
  {"name": "Nippon India Large Cap Fund - Direct Plan Growth Plan - Growth Option", "units": 354.04, "buy_date": "2024-01-01", "invested": 32000}
]
